<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

    <!-- My CSS -->
    <link rel="stylesheet" href="css/landing.css" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;700;800&display=swap" rel="stylesheet">

    <title>Play Traditional Game | Landing Pages | Challenge Project Chapter 3</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="#">Logo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link" href="/landing">Home</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/work">Work</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About Me</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="signup">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Akhir Navbar -->


    <!-- Jumbotron -->
    <section class="jumbotron jumbotron-fluid" id="main">
      <div class="container text-center">
      <h1 class="display-4">Play Traditional Game</h1>
      <p class="lead">Experience new traditional game play</p>
      <a class="btn btn-lg tombol" href="/suitgame" role="button">Play Now</a>
      <div class="button-down">
        <a href="#">
          <p>The Story</p>
          <img src="./img/scroll down.svg" alt="Tombol Scroll Down">
        </a>
      </div>
    </div>
    </section>
    <!-- Akhir Jumbotron -->

    

    <!-- About & Gallery -->
    <section id="about-gallery" class="about-gallery jumbotron-fluid">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-12 text-center">
            <h3 class="display-4">What's so special?</h3>
            <h1 class="display-2">The Game</h1>
          </div>
          <div class="col-lg-8 col-sm-12 text-center">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Akhir About & Gallery -->



    <!-- Game Feature -->
    <section id="feature" class="feature">
      <div class="container">
      <div class="row">
        <div class="col-lg-5 offset-lg-7">
          <h3 class="display-4 jarak-atas">What's so special?</h3>
          <h1 class="display-2">Features</h1>
          <div class="accordion">
            <div class="icon"></div>
            <h5>Traditional Game</h5>
          </div>
          <div class="panel">
            <p>If you miss your childhood, we provide many traditional games here</p>
          </div>

          <div class="accordion">
            <div class="icon"></div>
            <h5>Game Suit</h5>
          </div>
          <div class="panel">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, ipsa.
            </p>
          </div>

          <div class="accordion">
            <div class="icon"></div>
            <h5>TBD</h5>
          </div>
          <div class="panel">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error cumque dolore sint maxime perspiciatis quae.</p>
          </div>
        </div>
      </div>
    </div>
    </section>
    <!-- Akhir Game Feature -->



    <!-- System Requirements -->
    <section id="sysreq" class="sysreq">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <p class="judul-sysreq">Can My Computer Run this game?</p>
        </div>
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <h1 class="display-2">system requirements</h1>
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td>
                    <span class="judul-table">OS:</span> <br>
                    Windows 7 64-bit only (No OSX support at this time)
                  </td>
                  <td>
                    <span class="judul-table">PROCESSOR:</span> <br>
                    Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="judul-table">MEMORY:</span> <br>
                    4 GB RAM
                  </td>
                  <td>
                    <span class="judul-table">STORAGE:</span> <br>
                    8 GB available space
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <span class="judul-table">GRAPHICS:</span> <br>
                    NVIDIA GeForce GTX 660 2GB or <br> AMD Radeon HD 7850 2GB DirectX11 (Shared Model 5)
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    <!-- Akhir System Requirements -->


    <!-- Quotes -->
    <section id="quotes" class="quotes">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 align-self-center text-white">
            <h1 class="display-2">
              Top Scores
            </h1>
            <p>This top score from various games provided on this platform</p>
            <a href="#" class="btn btn-warning tombol">See More</a>
          </div>
          <div class="col-lg-8">
            <div class="card evan" style="width: 500px; background-color: #979797;">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                    <img src="img/evan-lathi.png" class="rounded" alt="...">
                  <div class="gamer-name align-self-center" style="margin-right: 200px;">
                    <h5 class="card-title">Evan Lathi</h5>
                    <h6 class="card-subtitle mb-2 text-muted">PC Gamer</h6>
                  </div>
                  <div class="float end">
                    <img src="img/twitter.svg" class="rounded" alt="...">
                  </div>
              </div>
                <p class="card-text">“One of my gaming highlights of the year.”</p>
                <p class="card-text text-muted">June 18, 2021</p>
              </div>
            </div>

            <div class="card jada" style="width: 500px; background-color: #979797;">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                    <img src="img/jada-griffin.png" class="rounded" alt="...">
                  <div class="gamer-name align-self-center" style="margin-right: 180px;">
                    <h5 class="card-title">Jada Griffin</h5>
                    <h6 class="card-subtitle mb-2 text-muted">PC Gamer</h6>
                  </div>
                  <div class="text-start">
                    <img src="img/twitter.svg" class="rounded" alt="...">
                  </div>
                </div>
                <p class="card-text">“One of my gaming highlights of the year.”</p>
                <p class="card-text text-muted">July 10, 2021</p>
              </div>
            </div>

            <div class="card aaron" style="width: 500px; background-color: #979797;">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                    <img src="img/aaron-williams.png" class="rounded" alt="...">
                  <div class="gamer-name align-self-center" style="margin-right: 140px;">
                    <h5 class="card-title">Aaron Williams</h5>
                    <h6 class="card-subtitle mb-2 text-muted">PC Gamer</h6>
                  </div>
                  <div class="text-start">
                    <img src="img/twitter.svg" class="rounded" alt="...">
                  </div>
              </div>
                <p class="card-text">“One of my gaming highlights of the year.”</p>
                <p class="card-text text-muted">December 24, 2018</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Akhir Quotes -->



    <!-- Subscribe -->
    <section class="subscribe" id="subscribe">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <img class="subs-img" src="img/subscribe.png" alt="">
          </div>
          <div class="col-lg-8 teks-subscribe">
            <h3 class="display-4 jarak-atas">Want to stay in touch?</h3>
            <h1 class="display-2">NEWSLETTER SUBSCRIBE </h1>
            <P>In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.</P>
            <div class="d-flex justify-content-center">
              <form action="">
                <div class="mb-3">
                  <input type="text" class="tombol-input" id="exampleInputEmail1" placeholder="Your Email">
                </div>
              </form>
              <!-- <input type="text" class="btn tombol-input" placeholder="Your email"></input> -->
              <a href="" class="btn btn-warning tombol">Subscribe</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Akhir Subscribe -->



    <!-- Footer -->
   <footer>
     <div class="container">
       <div class="row justify-content-end">
         <div class="col-7 text-right align-items-center">
          <nav>
            <ul class="nav_link">
              <li><a href="#main">Main</a></li>
              <li><a href="#about-gallery">About</a></li>
              <li><a href="#feature">Game Features</a></li>
              <li><a href="#sysreq">System Requirements</a></li>
              <li><a href="#quotes">Quotes</a></li>
            </ul>
          </nav>
         </div>
         <div class="col-3 d-flex justify-content-end social-icon align-items-center">
          <img src="img/social/facebook.svg" alt="" width="24" height="16">
          <img src="img/social/twitter.svg" alt="" width="24" height="16">
          <img src="img/social/youtube.svg" alt="" width="24" height="16">
          <img src="img/social/twitch.svg" alt="" width="24" height="16">
         </div>
       </div>
       <hr class="border-top">
       <div class="row justify-content-between">
         <div class="col">
           <p> © 2018 Your Games, Inc. All Rights Reserved by M. F. Fikri AlHafid</p>
         </div>
         <div class="col">
          <nav>
            <ul class="nav_link_bottom text-right">
              <li><a href="">Privacy Policy |</a></li>
              <li><a href="">Term Of Service |</a></li>
              <li><a href="">Code Of Conduct</a></li>
            </ul>
          </nav>
         </div>
       </div>
     </div>
   </footer>
    <!-- Akhir Footer -->













<script src="js/landing.js"></script>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->
  </body>
</html>
